{% extends 'accounts_base.html' %}

{% block main %}
<div class="bg-gray-50 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md">
        <!-- Heading -->
        <h1 class="text-2xl font-bold text-gray-800 text-center mb-2">Sign In</h1>
        <p class="text-sm text-gray-600 text-center mb-6">Welcome back 😀!</p>
        
        <!-- Signup Form -->
        <form action="#" method="post" class="space-y-4">
            {% csrf_token %}
          <!-- Email -->
          <div>
            <label for="email-or-phone" class="block text-sm font-medium text-gray-700">Email or Phone Number</label>
            <input id="email-or-phone" name="username" type="text" placeholder="Enter your email or phone number" required class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring-purple-500 focus:border-purple-500">
          </div>
          <!-- Password -->
          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your password" required class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring-purple-500 focus:border-purple-500">
          </div>
          <!-- Signup Button -->
          <button type="submit" class="w-full bg-purple-500 text-white py-2 rounded-lg hover:bg-purple-600">
            Sign Up
          </button>
        </form>

        <!-- Divider -->
        <div class="flex items-center justify-center my-4">
          <div class="h-px w-full bg-gray-300"></div>
          <span class="px-2 text-xs text-gray-500">Or</span>
          <div class="h-px w-full bg-gray-300"></div>
        </div>

        <!-- Google Signup -->
        <a href="#" class="w-full border cursor-pointer bg-white text-gray-800 py-2 px-4 rounded-lg flex items-center justify-center gap-2 hover:bg-sky-400">
            <svg class="w-6 h-6 mx-2" viewBox="0 0 40 40">
                <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#FFC107" />
                <path d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z" fill="#FF3D00" />
                <path d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z" fill="#4CAF50" />
                <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#1976D2" />
            </svg>      
            <span>Sign In with Google</span>
        </a>
        <div class="text-center mt-5">
            <span>Are you new here? <button href="" class="text-blue-500" data-dialog-target="modal"> Register</button></span>
        </div>
    </div>
</div>

<!-- <button 
  data-dialog-target="modal"
  class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">
  Open Modal
</button> -->
<div
  data-dialog-backdrop="modal"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div
    data-dialog="modal"
    class="relative m-4 p-4 w-2/5 min-w-[40%] max-w-[40%] rounded-lg bg-white shadow-sm"
  >
    <div class="flex justify-center items-center pb-4 text-2xl font-medium text-slate-600">
      Choose your role to get started!
    </div>
    <div class="flex flex-col items-center gap-4 py-4">
      <a
        href="{% url 'creator-signup' %}"
        class="w-full max-w-[200px] rounded-md bg-purple-400 py-2 px-4 text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-purple-700 hover:bg-purple-500 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
      >
        Creator
      </a>
      <a
        href="{% url 'brand-signup' %}"
        class="w-full max-w-[200px] rounded-md bg-purple-200 py-2 px-4 text-center text-sm text-slate-700 hover:text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-purple-400 hover:bg-purple-500 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
      >
        Brand
      </a>
    </div>
  </div>
</div>


{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const openModalButtons = document.querySelectorAll('[data-dialog-target]');
    const closeModalButtons = document.querySelectorAll('[data-dialog-close]');
    const modalBackdrops = document.querySelectorAll('[data-dialog-backdrop]');

    openModalButtons.forEach(button => {
      button.addEventListener('click', () => {
        const modalId = button.getAttribute('data-dialog-target');
        const modal = document.querySelector(`[data-dialog="${modalId}"]`);
        const backdrop = document.querySelector(`[data-dialog-backdrop="${modalId}"]`);

        if (modal && backdrop) {
          modal.classList.remove('pointer-events-none', 'opacity-0');
          backdrop.classList.remove('pointer-events-none', 'opacity-0');
        }
      });
    });

    closeModalButtons.forEach(button => {
      button.addEventListener('click', () => {
        const modal = button.closest('[data-dialog]');
        const backdrop = document.querySelector(`[data-dialog-backdrop="${modal.getAttribute('data-dialog')}"]`);

        if (modal && backdrop) {
          modal.classList.add('pointer-events-none', 'opacity-0');
          backdrop.classList.add('pointer-events-none', 'opacity-0');
        }
      });
    });

    modalBackdrops.forEach(backdrop => {
      backdrop.addEventListener('click', (event) => {
        if (event.target === backdrop && backdrop.getAttribute('data-dialog-backdrop-close') === 'true') {
          const modalId = backdrop.getAttribute('data-dialog-backdrop');
          const modal = document.querySelector(`[data-dialog="${modalId}"]`);

          if (modal) {
            modal.classList.add('pointer-events-none', 'opacity-0');
            backdrop.classList.add('pointer-events-none', 'opacity-0');
          }
        }
      });
    });
  });
</script>
{% endblock %}