{% extends 'campaigns_base.html' %}

{% block style %}
<style>
    body {
        background-color: #F3F4F6;
    }
</style>
{% endblock %}

{% block main %}
<div class="container bg-gray-100 mx-auto px-4 py-6 min-h-screen">
    <!-- Back to previous -->
    <div class="mb-6">
        <button onclick="history.back()" class="text-gray-500 text-sm font-medium hover:text-gray-700">
          &larr; Back
        </button>
    </div>

    <h1 class="text-2xl font-semibold text-center mb-6">Pending Proposals</h1>
    
    <div class="bg-white shadow-md rounded-lg p-6 w-full overflow-x-auto mb-4">
        {% if pending_proposals %}
        <table class="w-full text-left text-sm">
            <thead>
                <tr class="hover:bg-slate-50">
                    <th class="py-2">Campaign</th>
                    <th class="py-2">Creator</th>
                    <th class="py-2">Message</th>
                    <th class="py-2">Submitted At</th>
                    <th class="py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for proposal in pending_proposals %}
                <tr class="border-t hover:bg-slate-50">
                    <td class="py-5 ps-2">{{ proposal.campaign_object.title }}</td>
                    <td class="py-5 flex items-center">
                        <img src="{{ proposal.creator_object.profile_object.profile_picture.url }}" alt="Profile Picture" class="h-10 w-10 rounded-full mr-4">
                        <div>
                            <p>{{ proposal.creator_object.profile_object.full_name }}</p>
                            <a href="{% url 'creator-detail' proposal.creator_object.profile_object.owner.id %}" class="text-blue-500 hover:underline">View Profile</a>
                        </div>
                    </td>
                    <td class="py-5">{{ proposal.message }}</td>
                    <td class="py-5">{{ proposal.submitted_at|date:"Y-m-d" }}</td>
                    <td class="py-5 flex flex-wrap gap-2">
                        <form action="{% url 'accept-proposal' proposal.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600">Accept</button>
                        </form>
                        <form action="{% url 'reject-proposal' proposal.id %}" method="post" onsubmit="return confirm('Are you sure to reject this proposal?');">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center py-10">
            <p class="text-gray-600 text-lg">No pending proposals.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}